# Evita corrupção de arquivos binários por conversão automática de line endings (CRLF/LF)
*.jar binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.mp3 binary
*.wav binary
*.keystore binary
*.jks binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
